.project {
  width: 60vw;
  height: max-content !important;
  background-size: cover;
  background-position: center center;
  animation: forbidEvents;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: 100;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.mini,
  &__picture {
    width: 40vw;
    height: 40vh;
    object-fit: cover;
  }

  &__picture {
    width: 38vw !important;
  }

  &__name {
    z-index: 600;
    font-size: 3rem !important;
    font-family: 'Wire One', sans-serif !important;
    color: white;
  }

  &__info {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    * {
      font-family: 'Darker Grotesque', sans-serif;
      font-size: 2rem;
    }
  }

  &__description {
    font-size: 1.5rem;
  }

  &__buttonsContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  &__button {
    pointer-events: all;
    background-color: white;
    padding: 5px 75px !important;
    transition: all 0.5s;
    color: black;
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Wire One', sans-serif;
  }

  &__button:hover {
    background-color: goldenrod;
    color: white;
  }

  &__anchor {
    transition: all 0.5s;
    text-decoration: none;
  }

  &__linkButton {
    margin-right: 50px;
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &__tech {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      font-size: 1.25rem;
    }
  }

  &__tech:hover {
    transform: (scale(1.2));
  }

  &__techIcon {
    object-fit: contain;
    width: 25px;
    height: 25px;
    margin: 2px;
  }
}

/* Media Queries */
@media (max-width: 1400px) {
  .project__description {
    font-size: 1.26rem;
  }
}

@media (max-width: 1300px) {
  .project {
    &__description {
      font-size: 1.18rem;
    }
    &__buttonsContainer {
      padding-bottom: 0;
    }
  }
}

@media (max-width: 1100px) {
  .project.mini,
  .project__picture {
    width: 50vw;
  }
}

@media (max-width: 900px) {
  .project.mini,
  .project__picture {
    width: 60vw;
  }
}

@media (max-width: 800px) {
  .project.mini,
  .project__picture {
    width: 75vw;
  }
}

@media (max-width: 600px) {
  .project {
    &__picture {
      height: 30vh;
    }

    &__description {
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 450px) {
  .project__linkButton {
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .project {
    &__picture {
      height: 25vh;
    }
    &__linkButton {
      margin-right: 5px;
    }
    &__button {
      padding: 5px 65px !important;
    }
    &__tech > p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 360px) {
  .project__description {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .project {
    &__picture {
      height: 25vh;
    }
    &__description {
      font-size: 1rem;
    }
    &__button {
      padding: 2px 50px !important;
      font-size: 1.5rem;
    }
  }
}
