.quoteGenerator {
  position: absolute;
  top: 35vh;
  left: 5vh;
  width: 35vw;
  font-size: 1.5rem;

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;

    * {
      font-family: 'Courgette', cursive;
    }
  }

  &__top {
    display: flex;
    position: relative;
    padding: 20px;

    & > h1 {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 5rem !important;
    }

    & > h3 {
      position: absolute;
      font-size: 5rem !important;
    }
  }

  &__quote {
    text-align: left;
    padding-left: 5%;

    &::after {
      content: '"';
      font-size: 3rem;
      bottom: -5px;
      position: absolute;
    }

    & > span {
      font-size: 2rem;
      line-height: 1.5rem;
    }
  }

  &__bottom {
    width: 60%;
    align-self: flex-end;
    text-align: right;
    margin-top: -20px;
    padding-right: 30px;
    display: flex;
    align-items: center;
  }

  &__btn {
    position: absolute;
    left: 15%;
    bottom: -0.5vh;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: -20px;
    color: #eee;
    padding: 0;
    transition: all 0.3s;

    &:first-child {
      font-size: 1.5rem;

      &:hover {
        color: white;
      }
    }
  }

  &__author {
    a {
      color: white;
      text-decoration: none;
      white-space: nowrap;
      z-index: 100;
      cursor: pointer;
      font-family: 'Darker Grotesque', sans-serif;

      &.disabled {
        pointer-events: none;
      }
    }
  }

  &__date {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  .quoteGenerator {
    display: none;
  }
}
