.contact {
  height: 100vh;
  width: 100vw;
  background-color: pink;
  display: flex;

  &__right {
    flex: 1;
    background-image: url(https://images.unsplash.com/photo-1500576992153-0271099def59?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-position: center;
    background-size: cover;
  }

  &__left {
    flex: 1.5;
  }

  &__top {
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    padding-top: 5vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 7rem;
    padding: 0 20px;
  }

  &__container {
    margin-top: 5vh;
    max-width: 90vw;
    padding: 20px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;

    & > h2 {
      font-size: 3rem;
      padding: 20px;
      padding-bottom: 40px;
      text-align: center;
      color: #202020;
    }
  }

  &__formContainer {
    height: 100%;
    width: 100%;
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > form {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & > * {
        width: 100%;
        max-width: 100% !important;
      }
    }

    label {
      font-size: 1.2rem;
      padding: 10px 0;
      font-weight: 800;
      margin-left: 10px;
    }

    input,
    textarea {
      width: 100%;
    }
  }

  &__formName,
  &__formEmail,
  &__formMessage,
  &__formSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__formNameInputs,
  &__formEmailInput,
  &__formMessageInput,
  &__formSubmitInput {
    width: 100%;
  }

  &__formNameInputs {
    display: flex;

    & > input {
      width: 49.2% !important;
    }
  }

  input[type="text"],
  input[type="email"] {
    border: none;
    border-radius: 50px;
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 1.1rem;
    transition: all 0.2s;
  }

  textarea {
    border: none;
    border-radius: 30px;
    background-color: #f0f0f0;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1rem;
    max-width: 100%;
    transition: all 0.2s;
  }

  input:focus,
  textarea:focus {
    outline: none;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3),
      -1px -1px 10px rgba(218, 165, 32, 0.6);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3),
      -1px -1px 10px rgba(218, 165, 32, 0.6);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3),
      -1px -1px 10px rgba(218, 165, 32, 0.6);
  }

  &__formSubmit {
    input {
      margin-top: 20px;
      padding: 20px;
      font-size: 1.5rem;
      font-weight: 800;
      border: none;
      border-radius: 30px;
      width: 100% !important;
      cursor: pointer;
      transition: all 0.2s;
    }
  }

  &__formSubmit input:hover {
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3),
      -1px -1px 10px rgba(218, 165, 32, 0.6);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3),
      -1px -1px 10px rgba(218, 165, 32, 0.6);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3),
      -1px -1px 10px rgba(218, 165, 32, 0.6);
    background-color: rgba(218, 165, 32, 0.1);
  }

  &__footer {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;

    & > em {
      text-align: center;
    }
  }

  &__phone {
    padding-top: 10px;
  }

  &__confirmation {
    text-align: center;
    font-size: 5rem;
    margin-top: 20vh;
    color: white;

    * {
      font-family: "Dancing Script", cursive;
    }
  }
}

#lastName {
  margin-left: 5px;
}

/* Media Queries before submit form */
@media (max-width: 1620px) {
  .contact__title {
    font-size: 6rem;
  }
}

@media (max-width: 1400px) {
  .contact {
    &__bottom {
      padding-top: 0;
    }
    &__title {
      font-size: 5rem;
      display: none;
    }
  }
}

@media (max-width: 1175px) {
  .contact {
    .navbar {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;

      ul {
        justify-content: center;
      }
    }

    .brand {
      position: relative !important;
    }

    &__title {
      font-size: 4rem;
    }
  }
}

@media (max-width: 955px) {
  .contact__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 800px) {
  .contact__title {
    font-size: 5rem;
  }
  .contact__right {
    display: none;
  }
}

@media (max-width: 705px) {
  .contact__title {
    font-size: 4rem;
  }
}

@media (max-width: 575px) {
  .contact__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 505px) {
  .contact__title {
    font-size: 3rem;
  }
}

@media (max-width: 440px) {
  .contact__title {
    padding: 0;
  }
}

@media (max-width: 440px) {
  .contact {
    &__title {
      font-size: 2.5rem;
    }
    textarea {
      height: 125px;
    }
  }
}

@media (max-width: 360px) {
  .contact {
    input[type="text"],
    input[type="email"],
    textarea {
      font-size: 1rem;
      padding-left: 15px;
    }

    textarea {
      height: 100px;
    }

    &__title {
      font-size: 2rem;
    }
    &__formContainer {
      label {
        font-size: 1rem;
        padding: 5px;
      }
    }
  }
}

@media (max-width: 280px) {
  .contact {
    input[type="text"],
    input[type="email"],
    textarea {
      font-size: 0.8rem;
    }
  }
}

/* Media Queries AFTER submit form */
@media (max-width: 1300px) {
  .contact__confirmation {
    font-size: 4.5rem;
  }
}

@media (max-width: 1150px) {
  .contact__confirmation {
    font-size: 4rem;
  }
}

@media (max-width: 1050px) {
  .contact__confirmation {
    font-size: 3.5rem;
  }
}

@media (max-width: 900px) {
  .contact__confirmation {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .contact__confirmation {
    padding: 0 5vw;
  }
}

@media (max-width: 450px) {
  .contact__confirmation {
    font-size: 2.5rem;
  }
}

@media (max-width: 358px) {
  .contact__confirmation > h1 {
    padding-bottom: 50px;
  }
}

@media (max-width: 300px) {
  .contact__confirmation {
    font-size: 2rem;
  }
}
