.projects {
  width: 100vw;
  height: max-content;
  max-height: 100vh;
  background-color: #6ad4ad;
  display: flex;
}

.projects > * {
  overflow: hidden;
}

.projects .navbar {
  padding-bottom: 10px;
}

.projects__bottom {
  flex: 1;
  display: flex;
}

/* To be able to click carousel arrows */
.slick-list {
  pointer-events: none;
}

.projects__left {
  flex: 1;
  background-image: url("https://images.unsplash.com/photo-1570393080660-de4e4a15a247?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
  background-size: cover;
  background-position: center;
}

.projects__right {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100vh !important;
}

.projects__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects__category {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 1;
  position: relative;
  max-height: 45vh;
}

.projects__category.unselected {
  flex: 0 1;
  height: 0 !important;
  pointer-events: none;
  display: none;
}

.projects__category.selected > .projects__title {
  cursor: default;
  pointer-events: none;
}

.projects__category.unselected > .projects__title {
  display: none;
}

.projects__category.commissions.selected > .projects__title {
  top: 0;
}

.projects__category.passion.selected > .projects__title {
  top: 80vh;
}

.projects__title {
  top: 40%;
  position: absolute;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 5rem;
  color: white;
  font-family: "Dancing Script", cursive;
  text-align: center;
  z-index: 100;
}

.projects__category.default > .projects__title:hover {
  font-size: 7rem;
}

.projects__reel {
  width: 100%;
  transition: all 1s;
  transition-delay: 100ms;
}

.slick-prev {
  left: 15% !important;
  z-index: 1;
}
.slick-next {
  right: 15% !important;
  z-index: 1;
}

.projects__category.selected.commissions .projects__reel {
  padding-top: 15vh;
}

.projects__category.selected.passion .projects__reel {
  padding-top: 7.5vh;
}

.projects__category.default .projects__reel,
.projects__category.unselected .projects__reel {
  opacity: 0;
  transition: all 0s;
  pointer-events: none;
}

.projects__back {
  cursor: pointer;
  position: absolute;
  font-size: 2rem;
  top: 9vh;
  left: 1vw;
  color: white;
  transition: all 0.3s;
  opacity: 0;
}

.projects__back.active {
  animation: showBack;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: 1s;
}

@keyframes showBack {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 1400px) {
}

@media (max-width: 1300px) {
}

@media (max-width: 1050px) {
  .projects .navbar {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .projects .brand {
    position: relative !important;
  }

  .projects .navbar ul {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .projects__back {
    top: 13vh;
    left: 1vw;
  }
}

@media (max-width: 830px) {
  .projects .navbar ul li {
    white-space: nowrap;
    font-size: 1.2rem;
    margin: 0 5px;
  }

  .projects__back {
    top: 11vh;
    left: 3vw;
  }
}

@media (max-width: 800px) {
  .projects__left {
    display: none;
  }
}

@media (max-width: 600px) {
  .projects__back {
    top: 15vh;
    left: 3vw;
  }

  .projects__category.passion.selected > .projects__title {
    top: 70vh;
  }
}

@media (max-width: 450px) {
  .projects__title {
    font-size: 4rem;
  }

  .projects__category.default > .projects__title:hover {
    font-size: 5rem;
  }

  .projects__category.commissions.selected > .projects__title {
    top: 3vh;
  }
}

@media (max-width: 320px) {
  .projects__title {
    font-size: 3rem;
  }

  .projects__category.default > .projects__title:hover {
    font-size: 4rem;
  }
}
