.aboutMe {
  width: 100%;
  height: 100vh;
  display: flex;
}

.aboutMe__right {
  flex: 1;
  background-image: url("https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80");
  background-position: center center;
  background-size: cover;
}

.aboutMe__left {
  /* padding-top: 10px; */
  flex: 2;
  background-color: #fda268;
}

.aboutMe__container {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

.aboutMe__title,
.aboutMe__subtitle {
  text-align: right;
  padding-right: 30px;
  color: white;
}

.aboutMe__title {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 10rem;
}

.aboutMe__subtitle {
  font-family: "Dancing Script", cursive;
  font-weight: 100;
  font-size: 4rem;
  line-height: 2rem;
}

.aboutMe__pictureContainer {
  display: flex;
  width: 80%;
  align-items: flex-end;
  padding-left: 5vw;
  padding-top: 10vh;
}

.aboutMe__picture {
  background-image: url("./../imgs/my-picture.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 100px;
}

.aboutMe__quote {
  flex: 1;
  padding-left: 10px;
  color: white;
  font-family: "Kalam", cursive;
  font-size: 1.3rem;
}

.aboutMe__footer {
  position: absolute;
  bottom: 10px;
  color: white;
  left: 50vh;
  opacity: 0.7;
}

/* Media Queries */
@media (max-width: 1650px) {
  .aboutMe__container {
    padding-top: 0;
  }
  .aboutMe__footer {
    left: 40vh;
  }
}

@media (max-width: 1550px) {
  .aboutMe__container {
    padding-top: 0;
  }
  .aboutMe__footer {
    left: 20vh;
  }
}

@media (max-width: 1371px) {
  .aboutMe__title {
    font-size: 8rem;
  }

  .aboutMe__subtitle {
    font-size: 3.5rem;
    line-height: 1.5rem;
  }

  .aboutMe__quote {
    font-size: 1.2rem;
  }

  .aboutMe__pictureContainer {
    align-items: center;
  }
}

@media (max-width: 1300px) {
  .aboutMe__footer {
    left: 1vw;
  }
}

@media (max-width: 1213px) {
  .aboutMe__title {
    font-size: 7rem;
  }
  .aboutMe__subtitle {
    font-size: 3rem;
    line-height: 1.5rem;
  }
  .aboutMe__quote {
    font-size: 1.1rem;
  }
}

@media (max-width: 1080px) {
  .aboutMe__title {
    font-size: 6rem;
  }
  .aboutMe__subtitle {
    font-size: 2.5rem;
    line-height: 1.5rem;
  }
  .aboutMe__quote {
    font-size: 1rem;
  }

  .aboutMe__footer {
    font-size: 0.8rem;
  }

  .aboutMe .navbar {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .aboutMe .brand {
    position: relative !important;
  }

  .aboutMe .navbar ul {
    justify-content: center;
  }
}

@media (max-width: 930px) {
  .aboutMe__pictureContainer {
    width: 90%;
  }
}

@media (max-width: 875px) {
  .aboutMe__subtitle {
    font-size: 2rem;
    line-height: 1.25rem;
  }

  .aboutMe__footer {
    font-size: 0.7rem;
  }

  .aboutMe .navbar > ul > li {
    white-space: nowrap;
  }
}

@media (max-width: 875px) {
  .aboutMe__right {
    display: none;
  }

  .aboutMe__footer {
    left: 20vw;
  }

  .aboutMe__pictureContainer {
    padding-top: 4vh;
    flex-direction: column;
  }
}

@media (max-width: 625px) {
  .aboutMe__footer {
    left: 10vw;
  }
}

@media (max-width: 555px) {
  .aboutMe__footer {
    left: 1vw;
  }
}

@media (max-width: 507px) {
  .aboutMe__footer {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .aboutMe__title {
    font-size: 5rem;
  }

  .aboutMe__subtitle {
    font-size: 1.75rem;
  }

  .aboutMe__quote {
    font-size: 0.9rem;
  }

  .aboutMe__picture {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 420px) {
  .aboutMe__subtitle {
    text-align: center;
    line-height: 2rem;
  }
}

@media (max-width: 400px) {
  .aboutMe__title,
  .aboutMe__subtitle {
    padding-right: 0;
    text-align: center;
  }
  .aboutMe__quote {
    padding-top: 2vh;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .aboutMe__title {
    font-size: 4rem;
    white-space: nowrap;
  }
  .aboutMe__subtitle {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .aboutMe__quote {
    padding-top: 2vh;
  }
}

@media (max-width: 360px) {
  .aboutMe__title {
    font-size: 3rem;
  }
  .aboutMe__subtitle {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .aboutMe__quote {
    font-size: 0.7rem;
  }
}
