.aboutMe {
    width: 100%;
    height: max-content;
}

.aboutMe__container {
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.aboutMe__title {
    color: white;
    font-size: 35px;
    margin-left: -10px;
    padding-bottom: 15px;
    white-space: nowrap;
}

.aboutMe__content {
    display: flex;
}

.aboutMe__left {
    flex: 0.3;
    height: 100% !important;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-right: 50px;
}

.aboutMe__right {
    flex: 0.7;
    border-left: 1px solid #888;
    padding-left: 50px;
}

.aboutMe__picture {
    background-image: url("https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/374542_669395286451295_1919510956_n.jpg?_nc_cat=103&_nc_sid=ba80b0&_nc_ohc=eMWJ2dJkcykAX-uA60S&_nc_ht=scontent-mad1-1.xx&oh=1c05ae6a4ebb06f2e859e0576730b28d&oe=5F7EDBD9");
    background-size: cover;
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 100px;
}

.aboutMe__description {
    color: #777;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

.aboutMe__tags>ul {
    list-style-type: none;
    padding: 0;
}

.aboutMe__tags>ul>li {
    display: inline-block;
    padding: 10px;
    margin: 15px;
    background-color: #888;
    border-radius: 20px;
    transition: all 0.3s;
    cursor: default;
}

.aboutMe__tags>ul>li:hover {
    color: white;
    background-color: goldenrod;
}

@media (max-width: 1000px) {
    .aboutMe__container {
        margin-left: 10%;
    }
    .aboutMe__left {
        display: none;
    }
    .aboutMe__right {
        flex: 1;
    }
}

@media (max-width: 480px) {
    .aboutMe__tags>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutMe__container {
        margin: 0 0 0 50px;
    }
    .aboutMe__description {
        width: 300px;
    }
}