.goHome {
    position: fixed;
    top: 2%;
    left: 2%;
    opacity: 0;
    animation: showUp 0.6s 1.2s forwards;
}

.goHomeMobi {
    position: relative;
}

@keyframes showUp {
    to {
        opacity: 1
    }
}

.goHome__link>.MuiSvgIcon-root {
    color: white;
    opacity: 0.7;
    font-size: 2rem;
    transition: all 0.15s ease-in-out;
    text-align: center;
    cursor: pointer;
}

.goHome__link>.MuiSvgIcon-root:hover {
    opacity: 1;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    padding: 5px;
}