.upIcon {
    position: absolute;
    bottom: 2vh;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.5s;
}

.upIcon:hover {
    opacity: 1;
    transform: scale(1.1);
}

@media (max-width: 480px) {
    .upIcon.hidden {
        display: none;
    }
}