.hamburger {
    position: fixed;
    top: 2%;
    right: 2%;
    width: 100vw;
    z-index: 1000;
}

@keyframes showUpLate {
    to {
        opacity: 0.7;
    }
}

.hamburger__logoContainer {
    opacity: 0;
    animation: showUpLate 0.85s 1.2s forwards;
}

.hamburger__closeIcon {
    color: white;
    opacity: 0;
    animation: showUpLate 0.85s 1.2s forwards;
    font-size: 2rem !important;
}

.hamburger__logoContainer>.MuiSvgIcon-root {
    position: fixed;
    top: 2%;
    right: 2%;
    color: white;
    font-size: 2rem;
    transition: all 0.25s ease-in-out;
    text-align: center;
    cursor: pointer;
}

.hamburger__logoContainer>.MuiSvgIcon-root.open {
    opacity: 0 !important;
}

.hamburger__logoContainer>.MuiSvgIcon-root:hover {
    /* opacity: 1; */
    /* border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4); */
    /* border: 1px solid white; */
    /* padding: 5px; */
}

.hamburger__content {
    position: sticky;
    top: 0;
    left: 0;
    transform: translate(7px, -75px);
    /* -125px on Skills */
    transition: all 1s;
    width: 100vw;
    min-height: 50px;
    height: auto;
    padding: 5px 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid #666;
}

.hamburger__content.golden {
    background-color: goldenrod;
}

.hamburger__content.black {
    background-color: #202020;
}

.hamburger__content.hamburger__active {
    transform: translate(7px, -15px)/* -45px on Skills */
}