.landing {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1579518788238-fb03a5b6ca92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center center;
    color: white;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.landing__container {
    position: absolute;
    top: 20vh;
    right: 5vw;
    width: max-content;
}

/** TEXT */

.landing__text {
    width: 100%;
    white-space: nowrap;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.landing__shortName, .landing__longName {
    font-size: 7rem;
    overflow: visible;
}

.landing__shortName {
    display: none;
    white-space: normal;
}

.landing__developer {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: right;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.landing__icons {
    width: 100%;
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-top: 5px;
}

.landing__icons>a {
    width: auto;
}

.landing__icons .svg-inline--fa {
    margin-left: 2vw;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: color 0.15s;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.landing__icons .svg-inline--fa:hover {
    color: goldenrod;
}

/** ICONS */

@media (min-width: 1920px) {
    .landing__longName, .landing__shortName {
        font-size: 9rem;
    }
    .landing__icons {
        padding-left: 200px;
    }
}

@media (max-width: 950px) {
    .landing__longName, .landing__shortName {
        font-size: 5rem;
    }
    .landing {
        background-position: 100% center;
    }
}

@media (max-width: 650px) {
    .landing__longName {
        display: none;
    }
    .landing__shortName {
        display: inline-block;
    }
    .landing__developer {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        font-size: 1.3rem !important;
    }
    .landing__container {
        margin: 0 0 25rem 2rem;
        width: max-content;
    }
}

@media (max-width: 480px) {
    .landing__icons .MuiSvgIcon-root {
        font-size: 1.5rem;
    }
    .landing__longName, .landing__shortName {
        font-size: 4rem;
    }
}

@media (max-width: 320px) {
    .landing__shortName {
        font-size: 3rem;
    }
    .landing__developer {
        font-size: 2rem;
    }
}

/* .landing {
    display: flex;
    height: 100vh;
}

.landing__left, .landing__right {
    height: 100vh;
    flex: 1;
}

.landing__left {
    background-color: var(--yellow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.landing__leftBlock {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    border-bottom: 5px solid var(--red-color);
    transition: all 0.3s;
}

.landing__leftBlock:hover {
    background-color: var(--green-color);
}

.landing__leftBlock:hover>p {
    color: var(--yellow-color);
}

.landing__leftBlock:last-of-type {
    border: none;
}

.landing__leftBlock>p {
    font-size: 10rem;
    color: white;
}

.landing__right {
    background-color: var(--green-color);
}

.landing__text {
    position: absolute;
    top: 35vh;
    left: 50vw;
}

.landing__text>p {
    color: var(--white-color);
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    object-fit: contain;
}

.landing__greeting {
    font-size: 200px !important;
    padding-left: 3vw;
}

.landing__name>#myName {
    font-weight: 800;
    color: var(--yellow-color);
}

.landing__developer {
    margin-top: -10px;
    margin-left: 70px;
    font-size: 20px !important;
    font-weight: 300;
    text-align: center;
} */