.navbar {
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.3s;
    opacity: 1;
    z-index: 100;
    /* border-bottom: 1px solid #666; */
}

.navbar__expand {
    margin: -15px 50%;
    padding: 0;
    cursor: pointer;
    z-index: 101;
    height: max-content;
    text-shadow: 5px 5px 5px black;
}

.navbar__expand>.MuiSvgIcon-root {
    font-size: 4rem;
    color: #202020 !important;
    transition: all 0.2s;
}

.navbar__expand>.MuiSvgIcon-root:hover {
    color: goldenrod !important;
}

.navbar:hover {
    opacity: 1;
}

.navbar.hidden {
    transform: translateY(-50px);
    cursor: default;
}

.navbar.hidden .navbar__expand>.MuiSvgIcon-root {
    color: white;
}

.navbar ul {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #202020;
}

.navbar ul li {
    display: inline-block;
    font-weight: 400 !important;
    font-size: 1.5rem;
    font-family: "Lato";
    font-weight: 100;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0 30px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.0); */
}

li>a, .navbar__link {
    text-decoration: none;
    color: goldenrod;
    transition: all 0.3s;
}

.navbar__expand>.MuiSvgIcon-root {
    color: white;
}

/* .navbar ul li>:hover {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */

/* opacity: 1;
} */

.navbar ul li>a:hover, .navbar__link:hover {
    color: white !important;
}

.navbar ul li.hidden {
    cursor: default;
    pointer-events: none;
    /* transform: translateY(-100px) */
}

@media (max-width: 1010px) {
    .navbar {
        width: 100% !important;
    }
}

@media (max-width: 700px) {
    .navbar ul li {
        font-size: 1.3rem;
    }
}

@media (max-width: 565px) {
    .navbar ul {
        /* justify-content: space-between; */
        padding-left: 0;
        width: 100vw;
    }
    .navbar ul li {
        font-size: 1.2rem;
        margin: 0 5px;
        white-space: nowrap;
    }
}

@media (max-width: 320px) {
    .navbar ul li {
        font-size: 1rem;
    }
}