.project {
  width: 60vw;
  /* height: 60vh; */
  height: max-content !important;
  background-size: cover;
  background-position: center center;
  animation: forbidEvents;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: 500;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .project > * {
  overflow-y: hidden;
} */

.project.mini,
.project__picture {
  width: 40vw;
  height: 40vh;
  object-fit: cover;
  z-index: 500;
}

.project__picture {
  width: 38vw !important;
}

.project__info {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project__info * {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 2rem;
}

.project__description {
  font-size: 1.5rem;
}

.project__tech > * {
  font-size: 1.25rem;
}

.project__buttonsContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* padding-bottom: 40px; */
}

.project__button {
  pointer-events: all;
  background-color: white;
  padding: 5px 75px !important;
  transition: all 0.5s;
  color: black;
  font-size: 2rem;
  font-weight: 100;
  font-family: "Wire One", sans-serif;
}

.project__button:hover {
  background-color: goldenrod;
  color: white;
}

.project__anchor {
  transition: all 0.5s;
  text-decoration: none;
}

.project__linkButton {
  margin-right: 50px;
}

.project__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
}

.project__tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__tech:hover {
  transform: (scale(1.2));
}

.project__techIcon {
  object-fit: contain;
  width: 25px;
  height: 25px;
  margin: 2px;
}

/* Media Queries */
@media (max-width: 1400px) {
  .project__description {
    font-size: 1.26rem;
  }
}

@media (max-width: 1300px) {
  .project__description {
    font-size: 1.18rem;
  }
  .project__buttonsContainer {
    padding-bottom: 0;
  }
}

@media (max-width: 1100px) {
  .project.mini,
  .project__picture {
    width: 50vw;
  }
}

@media (max-width: 900px) {
  .project.mini,
  .project__picture {
    width: 60vw;
  }
}

@media (max-width: 800px) {
  .project.mini,
  .project__picture {
    width: 75vw;
  }
}

@media (max-width: 600px) {
  .project__picture {
    height: 30vh;
  }

  .project__description {
    font-size: 1.1rem;
  }
}

@media (max-width: 450px) {
  .project__linkButton {
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .project__picture {
    height: 25vh;
  }
  .project__linkButton {
    margin-right: 5px;
  }
  .project__button {
    padding: 5px 65px !important;
  }
  .project__tech > p {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .project__description {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .project__picture {
    height: 25vh;
  }
  .project__description {
    font-size: 1rem;
  }
  .project__button {
    padding: 2px 50px !important;
    font-size: 1.5rem;
  }
}
