.projectMobi {
    height: 100% !important;
    min-width: 100%;
    text-decoration: none;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 1.2rem;
    border-radius: 1.2rem;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), -1px -1px 10px rgba(218, 165, 32, 0.6);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), -1px -1px 10px rgba(218, 165, 32, 0.6);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), -1px -1px 10px rgba(218, 165, 32, 0.6);
    flex-basis: content;
    margin-right: 500px;
    transition: all 1s;
}

.projectMobi>h4 {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 10px;
    flex: 0.2;
    color: goldenrod;
}

.projectMobi>img {
    flex: 0.5;
    width: 100%;
}

.projectMobi__description {
    font-size: 0.8rem;
    padding: 10px;
}

.projectMobi__buttonsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectMobi__buttonsContainer>div {
    flex: 0.5;
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.projectMobi__buttonsContainer>div:first-of-type {
    border-left: 1px solid white
}

.projectMobi__linkButton, .projectMobi__gitButton {
    width: 50%;
    display: flex;
    justify-content: center;
}

.projectMobi__linkButton>a, .projectMobi__gitButton>a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    /* border: 1px solid rgba(218, 165, 32, 1); */
    background-color: rgba(218, 165, 32, 0.6);
    padding: 10px 0;
}

.projectMobi__tech {
    background-color: rgba(117, 19, 93, 0.5);
    padding: 10px 0 0 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: auto;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
}

.projectMobi__tech>h5 {
    padding: 2px;
    font-size: 1.05rem;
}

.projectMobi__tech>p {
    padding: 10px;
    font-size: 0.7rem;
}