.project {
  width: 60vw;
  /* height: 60vh; */
  height: max-content !important;
  background-size: cover;
  background-position: center center;
  animation: forbidEvents;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: 500;
  margin: auto auto;
}

/* .project > * {
  overflow-y: hidden;
} */

.project.mini,
.project__picture {
  width: 40vw;
  height: 40vh;
  z-index: 500;
}

.project__info {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project__info * {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 2rem;
}

.project__description {
  font-size: 1.5rem;
}

.project__tech > * {
  font-size: 1.25rem;
}

.project__buttonsContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* padding-bottom: 40px; */
}

.project__button {
  pointer-events: all;
  background-color: white;
  padding: 5px 75px !important;
  transition: all 0.5s;
  color: black;
  font-size: 2rem;
  font-weight: 100;
  font-family: "Wire One", sans-serif;
}

.project__button:hover {
  background-color: goldenrod;
  color: white;
}

.project__anchor {
  transition: all 0.5s;
  text-decoration: none;
}

.project__linkButton {
  margin-right: 50px;
}
