.projectsMobi {
    height: 100vh;
    margin-top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50vh;
    /* transform: scale(0.9);  Cannot add this because it breaks z-index for GoTopBtn.jsx */
}

.projectsMobi, .projectsMobi * {
    z-index: 10;
}

.projectsMobi__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 90%;
    height: auto;
    border-radius: 30px;
    -webkit-box-shadow: 3px 3px 25px #ffffff, -3px -3px 25px rgba(117, 19, 93, 0.73);
    -moz-box-shadow: 3px 3px 25px #ffffff, -3px -3px 25px rgba(117, 19, 93, 0.73);
    box-shadow: 3px 3px 25px #ffffff, -3px -3px 25px rgba(117, 19, 93, 0.73);
}

.projectsMobi__title {
    padding: 15px;
    color: rgba(117, 19, 93, 0.4);
}

.projectsMobi__gridContainer {
    width: 90%;
    height: 80%;
    flex: 0.8;
    display: flex;
    transition: transform 1s;
}

.projectsMobi__buttons {
    display: flex;
    width: 100%;
    padding: 20px;
}

.projectsMobi__buttons>div {
    text-align: center;
    flex: 0.5;
}

.projectsMobi__buttons .MuiSvgIcon-root {
    color: goldenrod;
}