.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #202020;
  /* transform: scale(0.9);  Cannot add this because it breaks z-index for GoTopBtn.jsx */
}

.projects__title {
  font-size: 3rem;
  flex: 0.2;
  padding: 20px;
  padding-bottom: 0;
  text-align: center;
  color: white
}

.projects__subtitle {
  color: rgba(117, 19, 93, 0.4);
  font-weight: 300;
}