.skillCard {
  background-color: rgba(255, 255, 255, 0.3);
  height: 150px;
  width: 25%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 100px;
  padding: 20px 20px 0 20px;
  margin: 10px 5px 5px 5px;
  /* -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), -1px -1px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), -1px -1px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), -1px -1px 10px rgba(0, 0, 0, 0.4); */
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1rem;
  transition: all 0.3s;
}

.skillCard:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.skillCard:hover .skillCard__text {
  opacity: 1;
  /* background-color: #f3e26c; */
}

.skillCard:hover .skillCard__logo {
  opacity: 0.1;
}

.skillCard__logo {
  flex: 0.8;
  transition: all 0.3s;
  height: 70%;
}

.skillCard__logo > img {
  height: 100%;
  object-fit: contain;
  max-width: 100%;
}

.skillCard__text {
  opacity: 0;
  text-align: center;
  position: absolute;
  line-height: 300%;
  color: white;
  font-size: 3rem;
  transition: all 0.4s;
  font-family: "Wire One", sans-serif;
}

@media (max-width: 640px) {
  .skillCard__text {
    font-size: 0.9rem;
    margin-top: -20%;
  }
}
