.skills {
    background-color: goldenrod;
    padding: 100px 0;
    height: max-content !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skills__container {
    /* background-color: #ddd;
    width: 60%;
    height: max-content !important;
    border-radius: 20px;
    padding-bottom: 50px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.2); */
}

.skills__container>h2 {
    font-size: 3rem;
    padding: 20px;
    text-align: center;
    color: #202020;
}

.skills__gridContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.skills__gridRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 480px) {
    .skills__container>h2 {
        font-size: 2rem
    }
    .skills {
        padding: 0 !important;
    }
}

@media (max-width: 1075px) {
    .skills {
        padding: 100px 0;
    }
    .skills__container {
        height: max-content !important;
        margin-bottom: 25px;
        max-width: 90%;
    }
    .skills__gridRow {
        flex-direction: row;
        align-items: center;
    }
    .skills__gridRow>.skillCard {
        width: 70%;
    }
}