.app * {
  font-family: 'Lato', cursive;
  z-index: 10;
}

body {
  background: black;
}

@media (max-width: 500px) {
  .app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app>*:not(:first-child) {
    margin-top: 100vh;
  }
}