.app * {
  font-family: "Lato", cursive;
  z-index: 10;
}

body {
  /* background-color: #202020; */
}

/* @media (max-width: 500px) {
   .app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}*/
