@import './App', './anims/animations', './styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Asap&family=Darker+Grotesque:wght@300;400&family=Wire+One&family=Courgette&family=Dancing+Script:wght@500&family=Kalam:wght@300&display=swap');

$font-anton: 'Anton', sans-serif;
$font-asap: 'Asap', sans-serif;
$font-darkerGrotesque: 'Darker Grotesque', sans-serif;
$font-wireOne: 'Wire One', sans-serif;
$font-courgette: 'Courgette', cursive;
$font-kalam: 'Kalam', cursive;
$font-dancingScript: 'Dancing Script', cursive;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#text {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
